#stage {
  width: 100px;
  position: relative;
}

#block {
  position: absolute;
}

.square {
  height: 8px;
  width: 8px;
  border: 1px solid #cccccc;
  float:left;
}

.piece {
  background-color: blue;
  position: absolute;
}

.full {
  background-color: red;
}